* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}
/* Background full layar */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;

  background: url("image/laut.jpg") no-repeat center center fixed;
  background-size: cover; /* biar nutup full layar */
}
/* Tombol dasar */
.btn {
    padding: 18px 0;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    backdrop-filter: blur(10px);
    transition: 0.25s;
    box-shadow: 0 0 12px #00eaff60;
}

/* Hover */
.btn:hover {
    background: rgba(255, 255, 255, 0.28);
    transform: scale(1.06);
    box-shadow: 0 0 18px #00eaff;
}

/* Operator */
.btn.op {
    background: rgba(0, 247, 255, 0.25);
    box-shadow: 0 0 14px #00eaffaa;
}

/* Danger (C) */
.btn.danger {
    background: rgba(255, 40, 40, 0.45);
    box-shadow: 0 0 14px #ff2b2b;
}

/* Angka 0 lebar */
.btn.zero {
    font-size: 1.8rem;
}

/* Tombol = */
.btn.equals {
    background: #00f7ff;
    color: black;
    font-weight: 900;
    box-shadow: 0 0 25px #00eaff;
}

.btn.equals:hover {
    background: white;
    box-shadow: 0 0 35px white;
}

/* MODE TERANG */
.light #calcBox {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 40px #00aaff40;
}

.light #display {
    background: white;
    color: black;
}

.light .btn {
    background: rgba(0, 0, 0, 0.08);
    color: black;
}

.light .btn.op {
    background: rgba(0, 150, 255, 0.25);
    color: black;
}

.light .btn.equals {
    background: #0099ff;
    color: white;
}

.light body {
    background: #eaf6ff !important;
}
